<header>

</header>

<body>

    <div class="container">
        <div class="row">
            <div class="col-12"
                style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 50px;">
                Carrito</div>
        </div>
    </div>


    <table class="table">
        <thead>
          <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dato of datos">
            <th scope="row"> <img src="{{dato[0]}}" alt="" style="width: 100px; height: 80px;"></th>
            <td>{{dato[1]}}</td>
            <td>{{dato[2]}}</td>
            <td>{{dato[3]}}</td>
            <td>{{dato[4]}}</td>
          </tr>
          
      </table>


</body>