body {
    color: #11988a;
    font-family: "Open Sans", sans-serif;
    padding-top: 80px;
  }
  

  
  .btn-primary {
    background-color: #6344d165 !important;
    border-color: #002652 !important;
    margin-top: 10px;
    
  }
  

