<div class="container text-left mt-5">
  <div class="row">
    <div class="col-sm-6" style="font-family: 'Times New Roman', Times, serif; font-size: 50px;">
      Paquito Store :D
    </div>

    <div class="col-sm-6">
      <div class="container text-left ">
        <div class="row">
          <div class="col-sm-6">
            HOME
          </div>
          <div class="col-sm-6">
            Comprar
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-primary" (click)="nav()">Salir</button>
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-primary">Comprar</button>

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12" style="font-family: 'Times New Roman', Times, serif; font-size: small; background-color: aqua;">
      wad
    </div>

  </div>
</div>